{% extends 'layout.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<h2>Home Page</h2>
<p>Welcome back, {{ username }}!</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora cupiditate adipisci eius, numquam id consectetur quod magnam neque tempore voluptatum sapiente facilis temporibus repellat quasi iure repellendus praesentium quo consequatur.</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora cupiditate adipisci eius, numquam id consectetur quod magnam neque tempore voluptatum sapiente facilis temporibus repellat quasi iure repellendus praesentium quo consequatur.</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora cupiditate adipisci eius, numquam id consectetur quod magnam neque tempore voluptatum sapiente facilis temporibus repellat quasi iure repellendus praesentium quo consequatur.</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora cupiditate adipisci eius, numquam id consectetur quod magnam neque tempore voluptatum sapiente facilis temporibus repellat quasi iure repellendus praesentium quo consequatur.</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora cupiditate adipisci eius, numquam id consectetur quod magnam neque tempore voluptatum sapiente facilis temporibus repellat quasi iure repellendus praesentium quo consequatur.</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora cupiditate adipisci eius, numquam id consectetur quod magnam neque tempore voluptatum sapiente facilis temporibus repellat quasi iure repellendus praesentium quo consequatur.</p>
{% endblock %}